[buildout]
extensions =
    mr.developer

auto-checkout = 
    *

#find-links += http://repo.irisnet.be/eggs/

parts=
    tools
    scripts

[tools]
recipe=zc.recipe.egg
eggs=
    i18ndude
    zest.releaser
    pylint
    Paste
    ZopeSkel
    zopeskel.dexterity
    PasteScript
    gocept.zestreleaser.customupload
    templer.core
    templer.plone
    templer.plone[localcommands]
    templer.zope
    templer.plone.localcommands
    templer.cirb
    eye
    argparse
    check-manifest
    mr.bob

[scripts]
recipe = zc.recipe.egg
eggs = python-swiftclient

[sources]
templer.django-project-app = git https://github.com/Fantomas42/templer.django-project-app
#ZopeSkel = svn https://svn.plone.org/svn/collective/ZopeSkel/tags/2.21.2
ZopeSkel = git https://github.com/collective/ZopeSkel.git rev=2.21.2
templer.core = git git@github.com:collective/templer.core.git
templer.plone = git git@github.com:collective/templer.plone.git
templer.zope = git git@github.com:collective/templer.zope.git
templer.cirb = git git@github.com:CIRB/templer.cirb.git
#toutpt.zopeskel = git https://github.com/toutpt/toutpt.zopeskel.git
templer.localcommands = git git@github.com:collective/templer.localcommands.git
